@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideInFromLeft {
    0% {
      opacity: 0;
      transform: translateX(-200px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
}
  
.appear-animation-left {
    animation: slideInFromLeft 1.7s ease-in-out;
}